body{
	background: #080042;
	background-image: linear-gradient(#0F124E ,#243CBE );

}
*{


	color: white;
}
.card{
	background: #2f2f2f;
	margin-bottom: 2rem;
}
.neutral{
	background:transparent;
}

.contact{
	margin-top: 2em;
}
