img{
	object-fit: contain;
	height: 100%;
}


.container-fluid{
  background-color: #2f2f2f;
}

.breadcrumb{
	background-color: transparent;
}

h4{

}
.InlineRef{
	color: rgb(228, 228, 228);

}
.InlineRef:hover{
	color: rgb(228, 228, 228);
}
.InlineRef:active{

}
video{

}
