.prj1{
	width: 100%;

}
.prj1 img{
	width: 100%;

}
.prj1 h3{
	color:black;


}
.carousel-item{
  width: 100%;
}
body{
  background-color: black;
}
.img-responsive{
  display: hidden;
}
.carousel-captio

#test h3{
  color: black;
}
