.Debrief{
    
    background-color:lightslategrey;
}

.card{
   margin-bottom: 1rem;
   /* max-width: 75%; */
}



.block {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

/* 
.navbar-toggler-icon:active{
    transform: rotate(90deg);
}
.navbar-toggler-icon:hover{
    transform: rotate(90deg);
} */

li.list-group-item {
    display: flex;
  }
  
  /* li.list-group-item i {
    margin-left: -20px;
  }
  
  li.list-group-item div {
    margin-left: 10px;
  } */


.Projectcard{
  min-height: 200px;
  max-height: 250px;

}

.navbar .nav-item:hover .dropdown-menu{ display: block; }

.underline{
  border-bottom: 12px solid gray;
}
.list-group-item{
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid rgb(153, 153, 153);
  max-width: 25em;
}
li.list-group-item i {
    padding-right: 1em;
  }
