@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-area {
    padding-top: 90px;
    padding-bottom: 100px; } }
@media (max-width: 767px) {
  .contact-area {
    padding-top: 70px;
    padding-bottom: 80px; } }

.contact-box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px 35px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .contact-box {
      padding: 30px 25px; } }
  @media (max-width: 767px) {
    .contact-box {
      padding: 30px 25px; } }
  .contact-box .contact-icon i {
    font-size: 48px;
    color: #754ef9; }
  .contact-box .contact-content {
    margin-top: 15px; }
    .contact-box .contact-content .contact-title {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 15px; }
  .contact-box:hover {
    -webkit-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
    -moz-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
    box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23); }

p.form-message.success, p.form-message.error {
  font-size: 16px;
  color: #333;
  background: #ddd;
  padding: 10px 15px;
  margin-top: 15px; }
  p.form-message.success.form-message.error, p.form-message.error.form-message.error {
    color: #f00; }

.single-form {
  margin-top: 30px; }
  .single-form input, .single-form textarea {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 25px;
    font-size: 16px;
    color: #8a8fa3; }
    .single-form input.placeholder, .single-form textarea.placeholder {
      opacity: 1;
      color: #8a8fa3; }
    .single-form input:-moz-placeholder, .single-form textarea:-moz-placeholder {
      opacity: 1;
      color: #8a8fa3; }
    .single-form input::-moz-placeholder, .single-form textarea::-moz-placeholder {
      opacity: 1;
      color: #8a8fa3; }
    .single-form input::-webkit-input-placeholder, .single-form textarea::-webkit-input-placeholder {
      opacity: 1;
      color: #8a8fa3; }
    .single-form input:focus, .single-form textarea:focus {
      border-color: #754ef9; }
  .single-form textarea {
    height: 135px;
    padding-top: 10px;
    resize: none; }

.contact-map .gmap_canvas iframe {
  width: 100%;
  height: 335px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(152, 152, 152, 0.46);
  -moz-box-shadow: 0px 0px 12px 0px rgba(152, 152, 152, 0.46);
  box-shadow: 0px 0px 12px 0px rgba(152, 152, 152, 0.46); }









 .about, .MijnWerk, .Contact{
  text-align: center;
}
.card, .ContactFormContainer .Skills{
  text-align: left;
}
.Skills ul{
  text-align: center;
  list-style-position: inside;
  list-style: none;
  padding:0 0.2em 0 0.2em;
}

.Skills li:before {
  color:green;
	content: "✓";
  padding-right:0.2em;
	
}


.Debrief{
    
    background-color:lightslategrey;
}

.card{
   margin-bottom: 1rem;
   /* max-width: 75%; */
}



.block {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

/* 
.navbar-toggler-icon:active{
    transform: rotate(90deg);
}
.navbar-toggler-icon:hover{
    transform: rotate(90deg);
} */

li.list-group-item {
    display: flex;
  }
  
  /* li.list-group-item i {
    margin-left: -20px;
  }
  
  li.list-group-item div {
    margin-left: 10px;
  } */


.Projectcard{
  min-height: 200px;
  max-height: 250px;

}

.navbar .nav-item:hover .dropdown-menu{ display: block; }

.underline{
  border-bottom: 12px solid gray;
}
.list-group-item{
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid rgb(153, 153, 153);
  max-width: 25em;
}
li.list-group-item i {
    padding-right: 1em;
  }
  .PrjImage{
    max-width: 125px!important;
  }

  .btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}
.Project-card-image{
  max-height: 250px;
  overflow: hidden;
}
.ContactCard{
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: darkgrey;
  text-align: center;
}
.ContactCard-icon, .ContactCard-Title{
  font-size: 2em;
}
.ContactCard-Title{
  padding-left: 0.5em;
}
.ContactCard a{
  text-decoration: none;
  color: white;
  text-align: center;
}
/* .ContactCard > div{
  margin:0px auto;
  
} */


.ContactFormContainer{
  background-color: lightgray;
  margin-top: 1em;
  padding: 1em 2em;
  
}