.Debrief{
    
    background-color:lightslategrey;
}

.card{
   margin-bottom: 1rem;
   /* max-width: 75%; */
}



.block {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

/* 
.navbar-toggler-icon:active{
    transform: rotate(90deg);
}
.navbar-toggler-icon:hover{
    transform: rotate(90deg);
} */

li.list-group-item {
    display: flex;
  }
  
  li.list-group-item i {
    margin-left: -20px;
  }
  
  li.list-group-item div {
    margin-left: 10px;
  }


.Projectcard{
  min-height: 200px;
  max-height: 250px;

}
  